body{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	line-height: 1.5px;
	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;
	top: 0;
	left: 0;
	right: 0;
	/*background-color: #fff6f1;*/
	
	background-repeat: repeat;
    background-position: top left;

	
}

.ml-auto{
	margin-left: auto !important;
}

a{
	color: #000;
	text-decoration: none;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
}
a:hover{
	color: #FF7400;
}
.nav-item a{
	color: #000;
}
.nav-item a:hover{
	color: #FF7400;
}

ul{
	list-style-type: none;
}
.navbar{
	padding: 1rem 2rem;
	min-height: 12vh;
	background: #f6f1ee;
}
.navbar .navbar-brand a{
	padding: .5rem 0;
	display: block;
	text-decoration: none;
}
.navbar-brand{
	font-family: 'Pacifico', cursive;
	font-size: 2.5rem;
	color: #e74c3c;
}
.navbar-toggler{
	background: #e74c3c;
	border: none;
	padding: 10px 16px;
}
.navbar-toggler span{
	display: block;
	width: 22px;
    height: 2px;
    border: 1px;
	background: #fff;
}
.navbar-toggler span + span{
	margin-top: 4px;
	width: 18px;
	margin-left: 4px;

}
.navbar-toggler span + span + span{
	width: 10px;
	margin-left: 10px;	
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 1rem 0.5rem;
	font-size: 1.0rem;
	position: relative;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	border-bottom: 4px solid #e74c3c;
}
.navbar-expand-lg .navbar-nav .nav-link .active{
	border-bottom: 4px solid #e74c3c;
	color: #e74c3c;
}
.dropdown-menu{
	background-color: #f6f1ee;
	border: 2px solid #e74c3c;
	text-align: center;


}
.dropdown-menu  a{
	padding: 1rem 0.5rem;
	font-size: 1.2rem;
	position: relative;
	font-weight: 400;
	font-family: 'Playfair Display', serif;
	color: #000;
}
.dropdown-menu  a:hover{
	background-color: #6E7B60;
	color: #fff;
}

.navbar-nav button{
	padding: 0.8rem 0;
}
.navbar-nav .btn{
	background-color: #e74c3c;
	color: #fff;
	border-radius: 0;
	padding: 0.8rem 1rem;
	font-size: 0.8rem;
	margin-top: -5px;
	margin-left: 10px;
}
.navbar-nav .btn:hover{
	background-color: #012639;
}

/*courosel*/

.carousel-caption{
	padding-bottom: 240px;
	z-index: 2;
}
.carousel-caption h5{
	font-size: 100px;
	color:  #fff;
	font-family: 'Playfair Display', serif;

}
.carousel-item img{
	height: 650px;
}

@media only screen and (max-width: 767px){
.carousel-item h5{
    font-size:15px;
}
.carousel-caption h5{
	font-size: 60px;
	color:  #fff;
	font-family: 'Playfair Display', serif;

}
.carousel-caption{
	padding-bottom: 100px;
	z-index: 2;
}
.carousel-item img{
	height: 350px;
}
}

.container-both{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0rem 1rem;
	margin-top: 5px;
}
.container-both .left{
	text-align: center;
	padding: 2rem 4rem;
	margin-top: 40px;
	
}
.container-both .left h1{
	font-family: 'Sacramento', cursive;
	color: #000;
	font-size: 3rem;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0px;
}
.container-both .left .add {
	width: 200px;
	line-height: 1.2rem;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
}
.container-both .left .add a{
	color: #6E7B60;
	font-weight: 900;
	text-decoration: underline;
}
.container-both .left .add a:hover{
	color: #e74c3c;
}
.container-both .left .timming{
	color: #000;
	font-weight: bold;
}
.container-both .left .timming p{
	font-size: 18px;
	font-family: "Crimson Text";
	margin-top: 40px;
}
.container-both .left .timming h3{
	font-size: 15px;
	font-weight: 700;
}
.container-both .left  .btn{
	background-color: #012639;
	color: #fff;
	border: 2px solid #f6f1ee;
	padding: 1rem 2rem;
}
.right{
	padding: 20px;
}
.right img{
	width: 600px;
	height: 600px;
}
@media only screen and (max-width: 767px)
{
	.right img{
		width: 350px;
		height: 60vh;
	}
}
.about-img{
	padding: 2rem 1rem;
}
.about-img img{
	width: 100%;
	height: 25%;
}
.about{
	padding: 20px;
	width: 100%;
	font-weight: bold;
	font-family: 'Sacramento', cursive;
	text-align: center;
}
.about .para{
	line-height: 1.2rem;

}
.about .para h1{
	font-size: 3rem;
	width: 986px;
	margin-left: auto;
    margin-right: auto;
}
.about .para .story{
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;

}
@media only screen and (max-width: 767px)
{
	.about{
	text-align: center;
	padding: 20px;
	
}
.about .para h1{
	font-size: 1.76rem;
    max-width: 386px;
    margin-left: -20px;
}
.about .para .story{
	font-size: 1rem;
	font-family: "Crimson Text";
	font-weight: 100;
    margin-left: auto;
    margin-right: auto;

}

}
.menus{
	text-align: center;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -30px;
}
.menus .btn{
	background-color: #1d4f44;
	color: #fff;
	border: 2px solid #f6f1ee;
	border-radius: 0px;
    padding: 0.5rem 1rem;
	margin: 1rem 0.9375rem;
	font-family: 'Crimson Pro', serif;
	font-size: 1.2rem;
}
.menus button:hover{
	background-color: #6E7B60;
	color: #fff;
}

#footer-wrapper {
    position: relative;
    background-color: #0b0e13;
    background-image: url(../../assets/images/contact/footer.png), url(../../assets/images/contact/footer.png);
    background-position: left 60px, right 60px;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 65px;
}
footer .foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    font-family: 'Playfair Display', serif;
    height: 30vh;
    margin-left: -150px;
}
.foot .fadd{
    text-align: center;
}
.foot .fadd p{
    padding: 0.5rem 0rem;
    color: #fff;
}
.foot .fcopy p{
font-size: 3rem;
margin-top: 40px;
color: #fff;
}
.foot .social-media{
    margin: 2rem 1rem;
    margin-left: 100px;

}
.social-media img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
.foot .owner{
    text-align: centero;
}
.foot .owner p{
    padding: 0.5rem 1rem;
    text-align: center;
    color: #fff;
}
@media only screen and (max-width: 767px)
{
    .dream img{
        width: 400px;
    }
    .foot .social-media{
    margin-left: 90px;
}
footer .foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0px;
    font-family: 'Playfair Display', serif;
    height: 70vh;
    margin-left: 0px;
}
}
.extra h5{
	font-family: 'Sacramento', cursive;
	animation-delay: 1s;
	color:  #fcda9a;font-size: 50px;
}
.extra p{
	font-family: 'Suranna', serif;
	font-size: 44px;
	line-height: 44px;
}
@media only screen and (max-width: 767px){
	.extra p {
    font-family: 'Suranna', serif;
    font-size: 24px;
    line-height: 24px;
}
.extra h5 {
    color: #fcda9a;
    font-size: 2.1rem;
}
}

